In [1]:
#Q1. Create a list called year_list,starting with the year of your birth, and each year thereafter until the year of your
#    fifth birthday. For,example if you were born in 1980,the list would be year_list = [1980,1981,1982,1983,1984,1985].

In [4]:
years_list = [i for i in range(2002,2002+6)]
print(years_list)

[2002, 2003, 2004, 2005, 2006, 2007]

In [5]:
#Q2. In which year in years_list was your third_birthday?Remember you were 0 years of age for your first year.

In [6]:
print(years_list[3])

2005

In [7]:
#Q3. In the year list,which year where you the oldest?

In [8]:
print(years_list[-1])

2007

In [9]:
#Q4. Make a list called things with these three strings as elements: "mozzarella","cindrella","salmonella"

In [10]:
things = [i+"ella" for i in ["mozzar","cindr","salmon"]]
print(things)

['mozzarella', 'cindrella', 'salmonella']

In [11]:
#Q5. Capitalize the elements in things that refers to a person and then print the list.Did it change the element in list?

In [14]:
for i in range(len(things)):
    if things[i] == "cindrella":
        things[i] = things[i].capitalize()
print(things)

['mozzarella', 'Cindrella', 'salmonella']

In [15]:
#Q6. Make a surprise list with the elements "Groucho","Chico", and "Harpo".

In [17]:
surprise_list = ["Groucho","Chico", "Harpo"]
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [18]:
#Q7.Lowercase the last element of the surprise list,reverse it,and then capitalize it.

In [19]:
print(surprise_list[-1].lower()[::-1].capitalize())

Oprah

In [20]:
#Q8. Make an English-to-French dictionary called e2f and print it. Here are your starter words:dog is chein,cat is chat,and 
#    walrus is morse.

In [21]:
e2f = {"dog":"chein","cat":"chat","walrus":"morse"}
print(e2f)

{'dog': 'chein', 'cat': 'chat', 'walrus': 'morse'}

In [22]:
#Q9. Write the french word for walrus in your three-word dictionary e2f.

In [23]:
print(e2f.get("walrus"))

morse

In [24]:
#Q10. Make a French-to-English Dictionary called f2e from e2f . Use the items method.

In [26]:
f2e = dict([i[::-1] for i in e2f.items()])
print(f2e)

{'chein': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [27]:
#Q11. Print the english version of french word chein using f2e.

In [30]:
print(f2e.get("chein"))

dog

In [31]:
#Q12. Make and print a set of english words from the keys in e2f.

In [32]:
print(list(e2f.keys()))

['dog', 'cat', 'walrus']

In [33]:
#Q13.Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals','plants' and 'other'.Make the 
#    'animals' key refer to another dictionary with the keys "cats","octopi",and "emus". Make the "cats" keys refer to a list of
#     string with the values "Henri","Grumpy" and" "Lucy".Make all the other keys refer to empty dictionaries.

In [34]:
life = {"animals":{"cats":["Henri","Grumpy","Lucy"],"octopi":{},"emus":{}},"plants":{},"other":{}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

In [35]:
#Q14. Print the top-level keys of life.

In [37]:
print(list(life.keys()))

['animals', 'plants', 'other']

In [38]:
#Q15. Print the keys for life["animals"]

In [39]:
print(list(life["animals"].keys()))

['cats', 'octopi', 'emus']

In [40]:
#Q16. Print the values for life["animala"]["cats"]

In [43]:
print(list(life["animals"]["cats"]))

['Henri', 'Grumpy', 'Lucy']